{{define "dashboard"}}
{{template "header" .}}

<div class="card">
  <div class="card-body">
    <h5>Welcome to RCN!</h5>
    <p class="card-text">
       Looks like this is the first time you've started up the device!
    </p>
  </div>
</div>

{{template "footer" .}}
{{end}}
